/* .starship-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(0, 76, 5);
  width: 260px;
  height: 160px;
  margin: 14px;
  padding: 30px;
}
.starship-card > h3 {
  font-weight: 300;
  font-size: 1.6em;
} */